<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb Search Engine</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        padding-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-5">Airbnb Search Engine</h1>
      <h2 class="text-center">Search for rooms</h2>
      <form method="POST" class="mt-5">
        <div class="form-group">
          <input
            type="text"
            name="query"
            class="form-control"
            placeholder="Enter your query here"
          />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>

</html>
